In [1]:
import pandas as pd
import vk_api 
import numpy as np
import seaborn as sns
import datetime as dt

In [4]:
data = pd.read_csv('ads_data_121288 - ads_data_121288.csv', parse_dates=['date'])
data.head()

        date                time event platform   ad_id ad_cost_type  ad_cost
0 2019-04-01  2019-04-01 0:00:48  view      web  121288          CPM    187.4
1 2019-04-01  2019-04-01 0:04:41  view      ios  121288          CPM    187.4
2 2019-04-01  2019-04-01 0:07:50  view  android  121288          CPM    187.4
3 2019-04-01  2019-04-01 0:07:50  view  android  121288          CPM    187.4
4 2019-04-01  2019-04-01 0:08:46  view      ios  121288          CPM    187.4

In [50]:
tab1 = data.groupby(['date','event'])\
    .agg({'event':'count'})\
    .rename(columns={'event':'count_event'}).reset_index()
tab1

        date  event  count_event
0 2019-04-01  click           17
1 2019-04-01   view          491
2 2019-04-02  click            6
3 2019-04-02   view           93

In [68]:
metrics = data.groupby(['date','event','ad_cost'])\
    .agg({'ad_cost':'sum','event':'count'})\
    .rename(columns={'ad_cost':'sum_ad_cost','event':'count_event'}).query('event == "view"').reset_index()
metrics['sum_ad_cost'] = metrics['sum_ad_cost']/1000
metrics['CTR'] = tab1.query("event == 'click'").reset_index().drop('index', axis = 1).count_event/ tab1.query("event == 'view'").reset_index().drop('index', axis = 1).count_event * 100

In [69]:
metrics

        date event  ad_cost  sum_ad_cost  count_event       CTR
0 2019-04-01  view    187.4      92.0134          491  3.462322
1 2019-04-02  view    187.4      17.4282           93  6.451613

In [71]:
metrics.sum_ad_cost[0]

92.0134